body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #fff6f6;
    font-family: Arial, Helvetica, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
